**/.cache*
**/*.tmpBin
target/
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sbt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.debug/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml
org.scala-ide.sdt.feature/feature.xml
org.scala-ide.sdt.source.feature/feature.xml
.idea
.metadata
*~
