<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.scala-ide.sdt.core.viewCategory"
            class="org.scalaide.spy.SpyView"
            icon="icons/cog.ico"
            id="org.scalaide.spy.view"
            name="Scala Spy View"
            restorable="true">
      </view>
   </extension>
</plugin>
