<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="eventHandler" name="Event Handler" schema="schema/eventHandler.exsd"/>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.scalaide.debug.internal.model.ScalaDebugModelPresentation"
            id="org.scala-ide.sdt.debug">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.scalaide.debug.internal.ScalaDebugPlugin">
      </startup>
   </extension>
   <extension
         point="org.eclipse.debug.core.logicalStructureProviders">
      <logicalStructureProvider
            class="org.scalaide.debug.internal.model.ScalaLogicalStructureProvider"
            modelIdentifier="org.scala-ide.sdt.debug">
      </logicalStructureProvider>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="org.scalaide.debug.internal.launching.ScalaApplicationLaunchConfigurationDelegate"
            delegateDescription="The Scala JVM Launcher supports debugging of local Scala using the new Scala debugger"
            id="scala.application.new"
            modes="debug"
            name="Scala Application (new debugger)"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"
            type="scala.application">
      </launchDelegate>
      <launchDelegate
            delegate="org.scalaide.debug.internal.launching.ScalaEclipseApplicationLaunchConfigurationDelegate"
            delegateDescription="The Scala JVM Launcher supports debugging of Eclipse Scala using the new Scala debugger"
            id="scala.eclipse.application.new"
            modes="debug"
            name="Scala Application (new debugger)"
            sourceLocatorId="org.eclipse.pde.ui.launcher.PDESourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"
            type="org.scala-ide.ew.launcher.RuntimeWorkbench">
      </launchDelegate>
      <launchDelegate
            delegate="org.scalaide.debug.internal.launching.ScalaEclipseJUnitLaunchConfigurationDelegate"
            delegateDescription="The Scala JVM Launcher supports debugging of JUnit Eclipse Scala using the new Scala debugger"
            id="scala.junit.eclipse.application.new"
            modes="debug"
            name="Scala Application (new debugger)"
            sourceLocatorId="org.eclipse.pde.ui.launcher.PDESourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"
            type="org.scala-ide.ew.launcher.JunitLaunchConfig">
      </launchDelegate>
      <launchDelegate
            delegate="org.scalaide.debug.internal.launching.ScalaJUnitLaunchConfigurationDelegate"
            delegateDescription="The Scala JVM Launcher supports debugging of JUnit Scala using the new Scala debugger"
            id="scala.junit.new"
            modes="debug"
            name="Scala JUnit (new debugger)"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"
            type="org.eclipse.jdt.junit.launchconfig">
      </launchDelegate>
    </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.scalaide.ui.preferences"
            class="org.scalaide.debug.internal.preferences.DebuggerPreferencePage"
            id="org.scalaide.ui.preferences.debug"
            name="Debug">
      </page>
      <page
            category="org.scalaide.ui.preferences.debug"
            class="org.scalaide.debug.internal.preferences.AsyncDebuggerPreferencePage"
            id="org.scalaide.ui.preferences.debug"
            name="Async Debugger">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.scalaide.debug.internal.preferences.DebugerPreferencesInitializer">
      </initializer>
      <initializer
            class="org.scalaide.debug.internal.preferences.AsyncDebuggerPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.jdt.launching.vmConnectors">
      <vmConnector
            class="org.scalaide.debug.internal.launching.SocketAttachConnectorScala"
            id="org.scala-ide.sdt.debug.socketAttachConnector">
      </vmConnector>
      <vmConnector
            class="org.scalaide.debug.internal.launching.SocketListenConnectorScala"
            id="org.scala-ide.sdt.debug.socketListenConnector">
      </vmConnector>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.scala-ide.sdt.core.viewCategory"
            class="org.scalaide.debug.internal.views.AsyncDebugView"
            id="org.scala-ide.sdt.debug.asyncView"
            name="Async Stack"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.debug.ui.contextViewBindings">
      <contextViewBinding
            autoOpen="true"
            contextId="org.eclipse.debug.ui.debugging"
            viewId="org.scala-ide.sdt.debug.asyncView">
      </contextViewBinding>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.eclipse.debug.ui.debugActionSet">
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.scala-ide.sdt.core.scalaHoverDebugOverride">
      <overrider
            hoverFactoryClass="org.scalaide.debug.internal.editor.TextHoverFactory">
      </overrider>
   </extension>
</plugin>
