<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.scalaide.debug.internal.model.ScalaDebugModelPresentation"
            id="org.scala-ide.sdt.debug">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.scalaide.debug.internal.ScalaDebugPlugin">
      </startup>
   </extension>
   <extension
         point="org.eclipse.debug.core.logicalStructureProviders">
      <logicalStructureProvider
            class="org.scalaide.debug.internal.model.ScalaLogicalStructureProvider"
            modelIdentifier="org.scala-ide.sdt.debug">
      </logicalStructureProvider>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="org.scalaide.debug.internal.launching.ScalaApplicationLaunchConfigurationDelegate"
            delegateDescription="The Scala JVM Launcher supports debugging of local Scala using the new Scala debugger"
            id="scala.application.new"
            modes="debug"
            name="Scala Application (new debugger)"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"
            type="scala.application">
      </launchDelegate>
      <launchDelegate
            delegate="org.scalaide.debug.internal.launching.ScalaEclipseApplicationLaunchConfigurationDelegate"
            delegateDescription="The Scala JVM Launcher supports debugging of Eclipse Scala using the new Scala debugger"
            id="scala.eclipse.application.new"
            modes="debug"
            name="Scala Application (new debugger)"
            sourceLocatorId="org.eclipse.pde.ui.launcher.PDESourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"
            type="org.scala-ide.ew.launcher.RuntimeWorkbench">
      </launchDelegate>
      <launchDelegate
            delegate="org.scalaide.debug.internal.launching.ScalaEclipseJUnitLaunchConfigurationDelegate"
            delegateDescription="The Scala JVM Launcher supports debugging of JUnit Eclipse Scala using the new Scala debugger"
            id="scala.junit.eclipse.application.new"
            modes="debug"
            name="Scala Application (new debugger)"
            sourceLocatorId="org.eclipse.pde.ui.launcher.PDESourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"
            type="org.scala-ide.ew.launcher.JunitLaunchConfig">
      </launchDelegate>
    </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.scalaide.ui.preferences"
            class="org.scalaide.debug.internal.preferences.DebuggerPreferences"
            id="org.scalaide.ui.preferences.debug"
            name="Debug">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.scalaide.debug.internal.preferences.DebugerPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.jdt.launching.vmConnectors">
      <vmConnector
            class="org.scalaide.debug.internal.launching.SocketAttachConnectorScala"
            id="org.scala-ide.sdt.debug.socketAttachConnector">
      </vmConnector>
      <vmConnector
            class="org.scalaide.debug.internal.launching.SocketListenConnectorScala"
            id="org.scala-ide.sdt.debug.socketListenConnector">
      </vmConnector>
   </extension>
   <extension
         point="org.scala-ide.sdt.core.scalaHoverDebugOverride">
      <overrider
            hoverFactoryClass="org.scalaide.debug.internal.editor.TextHoverFactory">
      </overrider>
   </extension>
</plugin>
