<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="spellingengineprovider" name="Spelling Engine Provider" schema="spellingengineprovider.exsd"/>
   <extension-point id="cfprovider" name="ClassFile Provider" schema="cfprovider.exsd"/>
   <extension-point id="indexerprovider" name="Indexer Provider" schema="indexerprovider.exsd"/>
   <extension-point id="formatterCleanUp" name="Formatter Clean Up" schema="formatterCleanUp.exsd"/>
   <extension-point id="method_verifier" name="Method Verifier" schema="methodVerifier.exsd"/>
   <extension-point id="cuprovider" name="Compilation Unit Provider" schema="cuprovider.exsd"/>
   <extension-point id="imagedescriptorselector" name="Image Descriptor Selector" schema="imagedescriptorselector.exsd"/>
</plugin>
