<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/debug/src/debug/HelloWorld.scala"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="debug.HelloWorld"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="debug"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-agentlib:jdwp=transport=dt_socket,server=n,address=localhost:8000,suspend=y"/>
</launchConfiguration>
