<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.scalatest">
<stringAttribute key="SCALATEST_LAUNCH_INCLUDE_NESTED" value="false"/>
<setAttribute key="SCALATEST_LAUNCH_TESTS_NAME">
<setEntry value="A Stack when empty should complain on pop"/>
</setAttribute>
<stringAttribute key="SCALATEST_LAUNCH_TYPE" value="SUITE"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/scalatest/src/com/test/MultiSpec.scala"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.test.StackSpec2"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="scalatest"/>
</launchConfiguration>
